/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Redressed&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --first-color: hsl(39, 74%, 25%);
  --first-color-alt: hsl(44, 51%, 41%);
  --black-color: hsl(206, 12%, 12%);
  --card-color: hsl(0, 0%, 85%);
  --title-color: hsl(206, 12%, 12%);
  --text-color: hsl(206, 4%, 42%);
  --text-color-light: hsl(206, 4%, 75%);
  --body-color: hsl(0, 0%, 87%);
  --container-color: #fff;

  /*========== Font and typography ==========*/
  --body-font: "Lato", sans-serif;
  --other-font: "Redressed", sans-serif;
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

html,
body{
  overflow-x: hidden;
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-bold);
}

h1,
h2,
h3,
p {
  line-height: 140%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1024px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  position: relative;
  font-size: var(--h1-font-size);
  padding-left: 1.25rem;
  margin-bottom: 2.5rem;
}

.section__title::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 3px;
  height: 20px;
  background-color: var(--first-color);
}

/*=============== HEADER & NAV ===============*/
.header {
  width: 100%;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo,
.nav__toggle {
  color: #fff;
}

.nav__logo {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: var(--font-bold);
}

.nav__logo-img {
  width: 0.75rem;
}

.nav__toggle {
  display: inline-block;
  font-size: 1.15rem;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    background: linear-gradient(140deg, rgb(141, 85, 0), rgb(58, 31, 1));
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    transition: 0.5s;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 3rem;
  padding-top: 9rem;
}

.nav__link {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: var(--h2-font-size);
  color: var(--text-color-light);
  transition: 0.3s;
}

.nav__link:hover {
  color: #fff;
  letter-spacing: 5px;
}

.nav__close {
  font-size: 2rem;
  position: absolute;
  color: #fff;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

/* Show menu */
.show-menu {
  right: 0;
}

/* Change background header */
.scroll-header {
  background: linear-gradient(160deg, rgb(177, 94, 0), rgb(51, 23, 0));
  border-radius: 30px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  box-shadow: 0 1px 4px rgb(0, 0, 0);
}

/* Active link */
.active-link {
  color: #fff;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid #fff;
}

/*=============== HOME ===============*/
.home {
  gap: 0;
}

.home__container {
  padding: 7rem 0 2.5rem;
  background: linear-gradient(160deg, rgb(79, 80, 79) -4%, rgb(16, 16, 17) 46%);
}

.home__content {
  position: relative;
}

.home__img {
  box-shadow: 0 10px 50px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.home__title,
.home__data-title {
  color: #fff;
}

.home__title {
  font-size: var(--biggest-font-size);
  margin-bottom: 1.5rem;
}

.home__title span {
  color: var(--first-color);
}

.home__description {
  margin-bottom: 2rem;
  font-family: var(--other-font);
}

.home__data {
  border-top: 1px solid var(--text-color);
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.5rem;
}

.home__data-number {
  color: var(--first-color);
  font-size: var(--h1-font-size);
  margin-bottom: 1.5rem;
}

.home__data-title {
  font-size: var(--h2-font-size);
  margin-bottom: 0.5rem;
}

.home__data-description {
  font-size: var(--h3-font-size);
  font-family: var(--other-font);
}

.home__scroll {
  position: absolute;
  width: 100px;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: scroll 3s infinite;
}

/* Scroll image animate */
@keyframes scroll {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-0.5rem);
  }

  100% {
    transform: translateY(0);
  }
}

/*=============== BUTTON ===============*/
.button {
  display: inline-block;
  background-color: transparent;
  color: var(--first-color);
  border: 3px solid var(--first-color);
  padding: 0.75rem 1.75rem;
  border-radius: 1rem;
  font-size: var(--normal-font-size);
  transition: 0.3s;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.button:hover {
  box-shadow: 0 10px 30px rgba(114, 61, 1, 0.26);
}

/*=============== SPECIALTY ===============*/
.specality__button {
  margin-left: 1.25rem;
}

.specialty__category {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 200px;
  justify-content: center;
  row-gap: 2.5rem;
}

.specialty__img {
  width: 60px;
  margin-bottom: 1rem;
  transition: 0.4s;
}

.specialty__group {
  text-align: center;
  padding: 1rem;
  box-shadow: 5px 5px 30px rgb(202, 202, 202), -5px -5px 30px #fff;
  border-radius: 2rem;
}

.specialty__group:hover .specialty__img {
  transform: translateY(-0.25rem);
}
/*=============== PRODUCTS ===============*/
.products__filters {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.5rem 2rem;
  margin-bottom: 3rem;
}

.products__item {
  border-color: var(--body-color);
  box-shadow: 5px 5px 30px rgb(202, 202, 202), -5px -5px 30px #fff;
  padding: 1rem;
  border-radius: 1rem;
  transition: 0.2s;
  cursor: pointer;
}

.products__item:hover {
  box-shadow: 5px 5px 30px rgb(202, 202, 202) inset, -5px -5px 30px #fff inset;
}

.products__title {
  font-size: var(--h3-font-size);
  color: var(--text-color);
  margin-bottom: 0.5rem;
}

.products__stock {
  font-size: var(--small-font-size);
  font-family: var(--other-font);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.products__content {
  display: grid;
  grid-template-columns: 200px;
  justify-content: center;
  row-gap: 3.5rem;
}

.products__card {
  background-color: var(--body-color);
  border-radius: 20px;
  padding: 1rem;
  box-shadow: 5px 5px 30px rgb(202, 202, 202), -5px -5px 30px #fff;
}

.products__img {
  width: 150px;
  transition: 0.4s;
}

.products__shape {
  background-color: var(--card-color);
  border-radius: 1rem 1rem 0 0;
  text-align: center;
  padding: 0.25rem;
  border: 1px solid var(--text-color-light);
}

.products__data {
  padding: 1rem 0 1.25rem 1rem;
  position: relative;
}

.product__price {
  font-size: var(--h2-font-size);
}

.products__name {
  font-size: var(--normal-font-size);
}

.products__button {
  border-radius: 50%;
  padding: 0.625rem;
  display: inline-flex;
  font-size: 1.25rem;
  position: absolute;
  right: 1rem;
  top: -1.25rem;
  border: none;
  background-color: var(--first-color-alt);
  color: var(--text-color-light);
}

.products__card:hover .products__img {
  transform: translateY(-0.5rem);
}

/* Active link products */
.active-product .products__title {
  color: var(--title-color);
}

.active-product {
  box-shadow: 5px 5px 30px rgb(202, 202, 202) inset, -5px -5px 30px #fff inset;
}

/*=============== QUALITY ===============*/

.quality {
  background-color: rgb(240, 240, 240);
  border-radius: 1rem;
  box-shadow: 5px 5px 30px rgba(204, 204, 204, 0.726), -5px -5px 30px #fff;
  border: 1px solid var(--text-color-light);
}

.quality__content {
  row-gap: 2.5rem;
}

.quality__img {
  position: relative;
  justify-self: center;
}

.quality__img-big,
.quality__img-small {
  border-radius: 1rem;
}

.quality__img-big {
  width: 280px;
}

.quality__img-small {
  width: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  transform: translateX(-5rem);
}

.quality__title,
.quality__price {
  font-size: var(--h1-font-size);
}

.quality__title {
  margin-bottom: 0.75rem;
}

.quality__price {
  margin-bottom: 0.25rem;
}

.qulaity__special {
  display: block;
  font-size: var(--small-font-size);
  font-family: var(--other-font);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 0.75rem;
}

.quality__description {
  margin-bottom: 2.5rem;
}

.quality__buttons {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.quality__button {
  font-size: var(--normal-font-size);
  text-transform: uppercase;
  color: var(--title-color);
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
}

.quality__button i {
  font-size: 1.25rem;
  transition: 0.4s;
}

.quality__button:hover i {
  transform: translateX(0.25rem);
}

/*=============== LOGOS ===============*/
.logo {
  background-color: var(--body-color);
}

.logo__container {
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  gap: 2.5rem 2rem;
  border-top: 1px solid var(--text-color-light);
  padding-top: 3rem;
}

.logo__img {
  mix-blend-mode: luminosity;
  opacity: 0.4;
  transition: 0.4s;
  width: 80px;
}

.logo__img:hover {
  opacity: 0.8;
}

/*=============== BLOG ===============*/
.blog__container {
  padding-bottom: 2rem;
}

.blog__content {
  row-gap: 3rem;
}

.blog__image {
  position: relative;
  margin-bottom: 1.5rem;
}

.blog__img {
  border-radius: 0.5rem;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.178);
}

.blog__button {
  display: inline-flex;
  background-color: #fff;
  padding: 1.15rem;
  border-radius: 0.5rem 0 0.5rem 0;
  font-size: 2rem;
  color: var(--title-color);
  position: absolute;
  right: 0;
  bottom: 0;
}

.blog__button i {
  transform: rotate(-30deg);
  transition: 0.4s;
}

.blog__button:hover i {
  transform: rotate(-30deg) translateX(0.25rem);
}

.blog__title {
  font-size: var(--h2-font-size);
  margin-bottom: 0.75rem;
  letter-spacing: 1px;
}

.blog__description {
  margin-bottom: 1.5rem;
  letter-spacing: 1px;
}

.blog__footer,
.blog__reaction {
  display: flex;
  align-items: center;
}

.blog__footer {
  column-gap: 1.5rem;
}

.blog__reaction {
  column-gap: 0.25rem;
}

.blog__reaction i {
  font-size: 1.25rem;
}

.blog__reaction span {
  font-size: var(--small-font-size);
}

/*=============== FOOTER ===============*/
.footer {
  background-color: var(--black-color);
  padding: 4rem 0 2.5rem;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
  box-shadow: 0 -5px 45px rgba(0, 0, 0, 0.397);
}

.footer__title {
  color: var(--first-color);
  font-size: var(--h1-font-size);
  margin-bottom: 2rem;
  letter-spacing: 2px;
}

.footer__description {
  margin-bottom: 0.75rem;
}

.footer__newsletter {
  display: flex;
  column-gap: 0.5rem;
}

.footer__input {
  border: none;
  outline: none;
  padding: 1.25rem 1rem;
  border-radius: 0.5rem;
  font-size: 1rem;
  width: 350px;
}

.footer__button {
  padding: 0.75rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  display: inline-flex;
  background-color: var(--first-color-alt);
}

.footer__button i {
  transform: rotate(-30deg);
  transition: 0.4s;
}

.footer__button:hover i {
  transform: rotate(-30deg) translate(0.25rem);
}

.footer__content {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--text-color);
}

.footer__subtitle {
  color: var(--first-color);
  font-size: var(--h2-font-size);
  margin-bottom: 0.75rem;
}

.footer__flag {
  width: 1rem;
}

.footer__group {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 1.5rem;
}

.footer__social {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.footer__social-link {
  color: var(--first-color-alt);
  transition: 0.4s;
}

.footer__social-link:hover {
  color: var(--first-color);
}

.footer__copy {
  font-size: var(--smaller-font-size);
}
/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.45rem;
  background-color: rgb(82, 55, 31);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(58, 23, 0);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(156, 88, 43);
}

/*=============== SCROLL UP ===============*/

/* Show Scroll Up*/

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px){
  .container {
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .header{
    width: 100%;
  }
  
  .quality__img-small{
    transform: translateX(-6rem);
  }

  .quality__buttons{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 576px){
  .specialty__category{
    grid-template-columns: repeat(2, 200px);
    column-gap: 3rem;
  }

  .products__content{
    grid-template-columns: repeat(2, 200px);
    column-gap: 3rem;
    padding-bottom: 3rem;
  }

  .blog__content{
    grid-template-columns: 450px;
    justify-content: center;
  }

  .footer__newsletter{
    width: 350px;
  }
}

@media screen and (min-width: 767px){
  .section{
    padding: 7rem 0 2rem;
  }

  .nav{
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__toggle,
  .nav__close{
    display: none;
  }

  .nav__list{
    padding-top: 0;
    flex-direction: row;
    column-gap: 4rem;
  }

  .nav__link{
    position: relative;
    font-size: var(--normal-font-size);
    letter-spacing: 0;
  }

  .nav__link:hover{
    letter-spacing: 0;
  }

  .nav__link::after{
    content: '';
    position: absolute;
    width: 2px;
    height: 25px;
    background-color: var(--text-color-light);
    transform: translateX(1.75rem);
    top: 0;
    bottom: 0;
    margin: auto 0;
  }

  .scroll-header .active-link::after{
    background-color: white;
  }

  .home{
    grid-template-columns: repeat(2, 1fr);
    align-items: stretch;
    position: relative;
  }

  .home__img{
    box-shadow: none;
    margin: 0;
    border-radius: 0;
  }

  .home__container{
    border-radius: 0;
  }

  .home__scroll{
    bottom: 0;
    top: 0;
    margin: auto;
    left: 0;
    right: 0;
  }

  .products__filters{
    grid-template-columns: repeat(3, 200px);
    justify-content: center;
  }

  .quality__content{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .footer__content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  
}

/* For large devices */

@media screen and (min-width: 1040px){
  .container{
    margin-left: auto;
    margin-right: auto;
  }

  .home__content{
    max-width: 400px;
    margin-right: 7rem;
    margin-left: auto;
  }

  .section__title{
    padding-right: 15rem;
    place-content: 1.75rem;
  }

  .section__title::before{
    height: 28px;
    width: 4px;
    top: 12px;
  }

  .specialty__box{
    display: grid;
    grid-template-columns: 2fr .5fr;
    align-items: center;
  }

  .specality__button{
    border: none;
    padding: 1rem;
    bottom: 0;
    right: 0;
    height: 55px;
    background-color: var(--first-color-alt);
    color: #fff;
    text-align: center;
    border-radius: 10px;
  }

  .specialty__group{
    text-align: initial;
  }

  .specialty__category{
    grid-template-columns: repeat(3, 250px);
    column-gap: 8rem;
  }

  .specialty__img{
    width: 80px;
    margin-bottom: 1.5rem;
  }

  .products__filters{
    margin: 4rem 0 5.5rem;
    column-gap: 4rem;
  }

  .products__content{
    grid-template-columns: repeat(3, 262px);
    column-gap: 5rem;
  }

  .products__img{
    width: 200px;
  }

  .products__shape{
    padding: 2rem 0;
    border-radius: .75rem .75rem 0 0;
  }

  .products__data{
    padding: 1rem 0 1.5rem 1.5rem;
  }

  .products__name{
    font-size: var(--h3-font-size);
  }

  .products__button{
    font-size: 1.5rem;
    padding: .75rem;
    right: 1.5rem;
    top: -1.5rem;
  }

  .quality__content{
    column-gap: 6rem;
  }

  .quality__img{
    margin-top: 2rem;
  }

  .quality__img-big{
    width: 428px;
  }

  .quality__img-small{
    width: 153px;
    transform: translateX(-7rem);
  }

  .quality__title{
    margin-bottom: 1.5rem;
  }

  .qulaity__special{
    margin-bottom: 1rem;
  }

  .logo__container{
    grid-template-columns: repeat(5, 1fr);
    padding: 3.5rem 0;
  }

  .logo__img{
    width: 110px;
  }

  .blog__container{
    padding-bottom: 5rem;
  }

  .blog__content{
    grid-template-columns: repeat(2, 450px);
    column-gap: 5rem;
    padding-top: 2rem;
  }

  .footer__content{
    grid-template-columns: repeat(4, max-content);
    column-gap: 4rem;
    padding-bottom: 5.5rem;
  }

  .footer__group{
    margin-top: 3rem;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__title{
    font-size: var(--h2-font-size);
  }

  .footer__social{
    column-gap: 2rem;
  }

  .footer__social-link{
    font-size: 1.5rem;
  }
}

@media screen and (min-width:1200px){
  .home__container{
    padding-top: 10rem;
  }

  .home__data{
    padding-top: 3rem;
  }

  .home__description{
    margin-bottom: 3rem;
  }

  .home__scroll{
    width: 130px;
  }
}

/* Alternative code, for larger screens */
@media screen and (min-width: 1700px){
  .home{
    max-width: 1400px;
    margin-right: auto;
    margin-left: auto;
  }
}

/*=============== LOAD ===============*/
.load{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;background-color: var(--body-color);
  display: grid;
  place-items: center;
  z-index: 1000;
}


/* The size may vary depending 
on the image of the gif */
.load__gif{
  width: 110px;
}
